p {
    font-size: 22px;
}

dt {
    background: darkblue;
    color: lightgoldenrodyellow;
    font-size: 24px;
    margin-top: 1em;
    padding: 5px;
    border-radius: .5em;
    border-style: double;
    width: 60%;
    box-shadow: 2em 0 1em darkgreen;
}

dd {
    border-style: solid;
    border-radius: .5em;
    box-shadow: 10px 10px 5px darkcyan;
    font-size: 20px;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    text-align: left;
}

pre,
code {
    background-color: black;
    color: lightgoldenrodyellow;
    border-style: dotted;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: .5em;
    font-size: 32px;
}

i {
    background-color: red;
    color: whitesmoke;
    border-style: solid;
    border-radius: .5em;
    font-family: 'Times New Roman', Times, serif;
    padding: .5em;
}

b {
    color: blue;
}

textarea {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    border: none;
    background-color: white;
}

.border-box {
    display: block;
    border-style: solid;
    border-width: thick;
    padding: 10px;
}

form {
    display: block;
    border-style: solid;
    border-radius: .5em;
    padding: 1em;
    box-shadow: 10px 10px 10px navy;
    text-align: justify;
}

button {
    margin: 10px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: .5em;
}
button:hover {
    background-color: rgba(225, 130, 180, 0.7);
}

input,
select {
    height: 2em;
}

h1 {
    border-bottom-style: dotted;
    border-bottom-color: darkblue;
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    border-style: double;
    box-shadow: 1em 1em 1em darkgrey;
    background-color: darkgreen;
    color: lightgoldenrodyellow;
    border-radius: .5em;
    font-size: 32px;
    padding-left: 1em;
}

h5 {
    font-size: 20px;
    background-color: darkcyan;
    color: whitesmoke;
}

table {
    width: 100%;
    text-align: left;
}

section {
    border-style: solid;
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 10px 10px 5px darkgoldenrod;
}

.code-box {
    border-style: solid;
    box-shadow: 10px 10px 10px darkorchid;
    width: auto;
    overflow: scroll;
    padding: 1em;
    height: auto !important;
    text-align: left;
}



.hide,
.show {
    width: 30px;
    height: 30px;
    border-radius: .5em;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 1px 0 #666;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 2px #000;
    background: darkseagreen;
    opacity: .95;
    margin-right: 0;
    float: left;
    margin-bottom: 25px;
}

.hide:hover,
.show:hover {
    background-color: blue;
    color: lightgoldenrodyellow;
}

.show {
    display: none;
}

.hide:target {
    display: none;
}

.hide:target+.show {
    display: inline;
}

katex {
    display: inline;
    font-family: 'Times New Roman', Times, serif;
}

.draw-box {
    display: block;
    width: 100%;
    height: auto;
    border-style: double;
    box-shadow: 10px 10px 10px rgba(35, 128, 78, .7);
    border-radius: .5em;
    text-align: center;
}
