.slide p {
    text-align: left;
}

.slide pre {
    font-size: 20px;
    background: darkslategrey;
    color: lightgoldenrodyellow;
}

.slide h4 {
    padding: 0px;
    margin: 0px;
}

.green {
    color: greenyellow;
}

.blue {
    color: dodgerblue;
}